# codegen package
tip_wlan_cloud >= 0.0.3
# packages required by codegen package
certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
# packages required by tests
paramiko >= 2.7.2
requests >= 2.25.1
bs4 >= 0.0.1

# pytest packages
pytest
pytest-order

# style\reporting package dependencies
pylint
allure-pytest